fastapi==0.95.0
uvicorn==0.18.2
pymongo==4.3.3
python-dotenv==1.0.0
pydantic==1.10.2
pydantic[email]
pyjwt==2.6.0
passlib[bcrypt]==1.7.4
setuptools
wheel
python-multipart
mlflow
torch>=2.3.0
transformers>=4.41.0
accelerate>=0.29.0
bitsandbytes>=0.41.2

